/**
 * Demo Styles
 */

 /* html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    font-size: 100%;
    line-height: 1.5;
    max-width: 640px;
    margin: 64px auto;
    text-align: center;
  } */
  .demo {
    margin: 14px 0;
  }
  form {
    display: flex;
    align-items: center; /* 使元素垂直居中 */
    gap: 10px; /* 設定元素間距 */
    margin-top:-13px;
    margin-right:15px;
    float: right;
  }
  /**
   * Switch Styles
   */
  /* Variables */
  /* Switch Container */
  .switch {
    position: relative;
    display: inline-block;
  }
  /* Hide the checkbox input (only needed for `:checked` property) */
  .switch-input {
    display: none;
  }
  /* Switch */
  .switch-label {
    display: block;
    width: 48px;
    height: 14px;
    text-indent: -150%;
    clip: rect(0 0 0 0);
    color: transparent;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    /* Switch Rail & Knob */
    /* Switch Rail */
    /* Switch Knob */
  }
  .switch-label:before,
  .switch-label:after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
  }
  .switch-label:before {
    width: 100%;
    height: 100%;
    background-color: #89c12d;
    border-radius: 9999em;
    transition: background-color 0.25s ease;
  }
  .switch-label:after {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    transition: left 0.25s ease;
  }
  /* When input is checked */
  .switch-input:checked + .switch-label {
    
    /* Switch Rail */
    /* Switch Knob */
  }
  .switch-input:checked + .switch-label:before {
    background-color: #4070c9;
  }
  .switch-input:checked + .switch-label:after {
    left: 24px;
    
  }